<div
  class="absolute top-1/2 left-1/2 -translate-1/2 w-sm"
  (cdkDragStarted)="closeDropdown()"
  cdkDragBoundary="#DragLimit"
  cdkDrag
>
  <input
    type="text"
    id="SearchBar"
    placeholder="Buscar..."
    class="w-full h-12 pl-12 pr-12 bg-white border border-slate-300 rounded-xl shadow-sm placeholder-zinc-400 text-zinc-800 focus:outline-2 focus:outline-slate-500 focus:shadow-lg focus:border-transparent"
    [formControl]="query"
    (input)="onSearch()"
    (focus)="openDropdown()"
  />
  <span
    class="absolute inset-y-0 left-0 grid place-content-center w-12 text-zinc-400"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="size-5"
    >
      <path
        fill-rule="evenodd"
        d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
        clip-rule="evenodd"
      />
    </svg>
  </span>
  <span
    class="absolute top-2 right-2 grid place-content-center w-8 h-8 rounded-md cursor-grab text-zinc-400 hover:text-zinc-600 hover:bg-gray-200 active:bg-gray-300 active:text-zinc-600"
    cdkDragHandle
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="size-5"
    >
      <path
        fill-rule="evenodd"
        d="M2 6.75A.75.75 0 0 1 2.75 6h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 6.75Zm0 6.5a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
        clip-rule="evenodd"
      />
    </svg>
  </span>
  @if (isDropdownOpen) {
  <div
    id="Dropdown"
    class="absolute flex w-full mt-2 bg-white border border-slate-300 rounded-xl shadow-lg overflow-hidden"
    [ngStyle]="{ 'max-height.px': maxDropdownHeight }"
  >
    @if (bookList.length > 0) {
    <ul class="w-full overflow-y-auto">
      @for (book of bookList; track $index) {
      <li
        class="flex items-start gap-3 p-3 cursor-pointer hover:bg-gray-200"
        (click)="selectBook(book)"
      >
        <img
          [src]="book.volumeInfo.imageLinks.thumbnail"
          alt="Portada"
          class="w-12 min-w-12 h-16 min-h-16 rounded-md border border-slate-200"
        />
        <div>
          <p class="font-semibold text-zinc-800">
            {{ book.volumeInfo.title }}
          </p>
          <p class="text-sm text-zinc-600">
            {{ book.volumeInfo.authors?.join(", ") }}
          </p>
          <p class="text-sm text-zinc-600">
            {{ book.volumeInfo.publishedDate | date : "yyyy" }}
          </p>
        </div>
      </li>
      }
    </ul>
    } @else {
    <div class="w-full py-8 px-3 grid place-content-center">
      <p class="text-zinc-400">Sin coincidencias</p>
    </div>
    }
  </div>
  }
</div>
